:root {
  //main
  --color-txt-dark:#0E0E0E;  // color dark

  --color-txt-white:#ffffff; // color light

  --color-primary: #2D7CF2; // main color

  --body-bg-color:#F5F5F5; //body color

  //header
  --color-menu:#0E0E0E; //color header menu

  --bg-header: #ffffff; //bg header

  //footer
  --bg-footer:#0E0E0E; //bg footer

  --bg-footer-bar:#ffffff; // ?

  //btn

  --btn-color-register:#ffffff; //btn register

  --bg-color-register: #2D7CF2; //btn register

  --btn-color-download: #2D7CF2; //btn download

  --bg-color-download: #EDF2FA; //btn download

  --btn-color-android: #ffffff; //txt color btn android

  --btn-bg-android:#0E0E0E; //bg btn android

  --btn-svg-android:#7CB342; //svg color android

  --btn-color-ios: #ffffff; //txt color btn ios

  --btn-bg-ios:#2D7CF2; //bg btn ios

  --btn-svg-ios:#ffffff; //svg color ios

  // ??

  --content-block-bg:#ffffff; //content bg

  --border-radius: 32px;
}