%bg-icon_arrow {
  width: 27px;
  height: 18px;
  background: url('../images/icon/icon_sprites.png') -40px -1325px;
}
%bg-icon_banking {
  width: 77px; height: 77px;
  background: url('../images/icon/icon_sprites.png') -40px -3232px;
}
%bg-icon_bc_arrow {
  width: 12px; height: 7px;
  background: url('../images/icon/icon_sprites.png') -40px -126px;
}
%bg-icon_big_star_1 {
  background: url('../images/icon/icon_sprites.png') -40px -1325px;
}
%bg-icon_big_star_2 {
  width: 23px; height: 19px;
  background: url('../images/icon/icon_sprites.png') -40px -1238px;
}

%bg-icon_b_star_1 {
  width: 16px; height: 14px;
  background: url('../images/icon/icon_sprites.png') -40px -667px;
}

%bg-icon_b_star_2 {
  width: 16px; height: 14px;
  background: url('../images/icon/icon_sprites.png') -40px -761px;
}

%bg-icon_close_menu {
  width: 19px; height: 19px;
  background: url('../images/icon/icon_sprites.png') -40px -1337px;
}

%bg-icon_copy {
  width: 15px; height: 15px;
  background: url('../images/icon/icon_sprites.png') -40px -942px;
}

%bg-icon_facebook {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -1639px;
}

%bg-icon_facebook_green {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -1755px;
}

%bg-icon_faq {
  width: 20px; height: 10px;
  background: url('../images/icon/icon_sprites.png') -40px -388px;
}

%bg-icon_instagram_green {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -1871px;
}

%bg-icon_instagram {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -1987px;
}

%bg-icon_like_dis {
  width: 77px; height: 77px;
  background: url('../images/icon/icon_sprites.png') -40px -2948px;
}

%bg-icon_linkedin {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -2103px;
}

%bg-icon_linkedin_green {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -2219px;
}

%bg-icon_menu_arrow {
  width: 10px; height: 6px;
  background: url('../images/icon/icon_sprites.png') -40px -40px;
}

%bg-icon_minus {
  background: url('../images/icon/icon_sprites.png') -40px -568px no-repeat;
}

%bg-icon_mobile_app {
  width: 77px; height: 77px;
  background: url('../images/icon/icon_sprites.png') -40px -3105px;
}

%bg-icon_pinterest {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -2335px;
}

%bg-icon_pinterest_green {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -2451px;
}

%bg-icon_plus {
  background: url('../images/icon/icon_sprites.png') -40px -477px no-repeat;
}

%bg-icon_qr {
  width: 85px; height: 69px;
  background: url('../images/icon/icon_sprites.png') -40px -3082px;
}

%bg-icon_s_dislike {
  width: 13px; height: 16px;
  background: url('../images/icon/icon_sprites.png') -40px -950px;
}

%bg-icon_share {
  width: 12px; height: 12px;
  background: url('../images/icon/icon_sprites.png') -40px -662px;
}

%bg-icon_site_arrow {
  width: 17px; height: 20px;
  background: url('../images/icon/icon_sprites.png') -40px -1720px;
}

%bg-icon_slider_arrow {
  background: url('../images/icon/icon_sprites.png') -29px -202px var(--main-accent-color);
}

%bg-icon_s_like {
  width: 13px; height: 16px;
  background: url('../images/icon/icon_sprites.png') -40px -1046px;
}

%bg-icon_sportsbook {
  width: 77px; height: 77px;
  background: url('../images/icon/icon_sprites.png') -40px -3262px;
}

%bg-icon_s_like_dis {
  width: 13px; height: 16px;
  background: url('../images/icon/icon_sprites.png') -40px -1142px;
}

%bg-icon_star {
  width: 25px; height: 23px;
  background: url('../images/icon/icon_sprites.png') -40px -1520px;
}

%bg-icon_twitter {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -2567px;
}

%bg-icon_twitter_green {
  width: 36px; height: 36px;
  background: url('../images/icon/icon_sprites.png') -40px -2683px;
}

%bg-icon_view {
  width: 13px; height: 8px;
  background: url('../images/icon/icon_sprites.png') -40px -301px;
}