.promo {
    display: flex;
    padding: 24px 0 24px 24px;
    background-color: #fff;
    border-radius: 10px;
    gap: 20px;

    @media(max-width:1024px) {
        flex-wrap: wrap;
        padding-right: 24px;
    }

    &-contetn {
        flex: 0 0 60%;
        max-width: 60%;

         @media(max-width:1024px) {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &-txt {
            font-size: 18px;
        }
    }

    &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        flex: 0 0 40%;
        max-width: 40%;

         @media(max-width:1024px) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}