.slider {
  margin: 20px 0;
  position: relative;
  overflow: hidden;

  &__wrap {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    padding: 0 0 5px;
  }
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    margin-right: 30px;
    background: var(--bg-body);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    border: 1px solid var(--main-accent-color);
    background: linear-gradient(45deg,var(--main-accent-color) 10%, #484848 90%);
    border-radius: var(--border-radius);
    transition: 0.5s;

    span {
      line-height: 142.69%;
    }
  }
}
