:root {
  --ft_background_color: #1d2730;
  --ft_text_color: #ffffff;
  --site_info_b_color: #e6b900;
  --color_bg_soc_icons: #fff;
  --h_navigation_color: #FFFFFF;
  --h_background_color: #1d2730;
  --main-accent-color: #33b63c;
  --bg-body: #f8f8fa;
  --btn-back-text-color: #FFFFFF;
  --btn-back-color: #33B63C;
  --btn-back-hover-bg-color: #15851d;
  --btn-back-hover-text-color: #ffffff;
  --btn-border-color: #ffffff;
  --btn-border-hover-color: #33B63C;
  --btn-border-hover-text-color: #ffffff;
  --border-radius: 32px;
  --text-body-color: #1D2730;
  --review-bg-color: #1D2730;
  --review-progress-bar: #e6b900;
  --review-text: #ffffff;
  --registration-btn-bg: #089e4e;
  --download-btn-bg: #089e4e;
  --registration-btn-border: #089e4e;
  --download-btn-border: #089e4e;
}